body {
    width: 550px;
    margin: 6px;
    overflow: hidden;
}

body.small {
    width: 400px;
}

body.large {
    width: 700px;
}

#header {
    height: 30px;
    padding-bottom: 3px;
}

#header img {
    vertical-align:middle;
}

#title {
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}

#title h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 2px;
    vertical-align: bottom;
}

#title h4 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
}

#ui divider {
    margin: 0;
    padding: 0;
}
